doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    div 
        form(action="/student", method="post") 
            p name 
                input(type="text" ,name='name')
            p email     
                input(type="email",name='email')
            p course 
                label(for="CE") CE  
                    input(type="radio",name='course',value='CE')
                label(for="IT") IT 
                    input(type="radio",name='course',value='IT')
                label(for="CSE") CSE 
                    input(type="radio",name='course',value='CSE')
            input(type="submit",value='submit')
